<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <ion-card *ngIf="person" color="dark">
    <ion-card-header>
      <ion-card-subtitle>{{person.name}}</ion-card-subtitle>
      <ion-card-content>
       <p>Gender: {{person.gender}}</p>
       <p>Height: {{person.height}}cm</p>
       <p>Weight: {{person.mass}}kg</p>
       <p>Eye Color: {{person.eye_color}}</p>
       <p>Hair Color: {{person.hair_color}}</p>
       <p>Complexion: {{person.skin_color}}</p>

      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
