<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Swapi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">
        Swapi
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list color="dark">
    <ion-card *ngFor="let person of people">
      <ion-card-header>
      <ion-card-subtitle>{{person.name}}</ion-card-subtitle>
      <ion-button ion-button fill="outline" href='/person/{{person.id}}' Small>details</ion-button>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
